.timeData {
  width: 330px !important;
  background-color: #fff !important;
  border: 1px solid lightgray !important;
  display: inline;
  color: #000 !important;
}

.active {
  background-color: #64bc6e !important;
}

.timeData:active {
  background-color: #64bc6e !important;
}

.disabledButton {
  background-color: #6c757d !important;
  border: 1px solid lightgray !important;
}
