/* this body css for all body in website */
body {
  background-color: #e5e5e5 !important;
}

/* this navbar css for main navbar design */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  z-index: 2;
  
}

/* this navbar brand css for main navbar brand design */
.navbar-brand {
  background-color: #ff6767;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 0;
  color: #fff !important;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif poppins !important;
  border-radius: 50px;
}

/* this navbar text css for main navbar text design */
.navbar-text {
  color: #0176c4 !important;
  font-weight: 600px !important;
  font-size: 16px;
  font-family: sans-serif poppins !important;
}
